.git
.venv
.local
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
build/
enclave/build/
enclave/duckdb_build_noglibc/
enclave/enclave/build/
enclave/enclave/duckdb_build_noglibc/
node_modules/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/